/* Restoring all the browser effects */
* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	font-family: 'Dancing Script', cursive; 
	cursor: none; 
} 

/* Setting up the bg-color, text-color 
and alignment to all body elements */
body { 
	background-color: rgb(202, 177, 255); 
	color: white; 
	justify-content: center; 
} 
