/* Restoring all the browser effects */
* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
    font-family: "Roboto Slab", serif;
} 

/* Setting up the bg-color, text-color 
and alignment to all body elements */
body { 
	background-color: rgb(202, 177, 255); 
	color: white; 
	justify-content: center; 
} 

.title{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 5rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.bug {
    /* width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red; */
    position: absolute;
}

.bug-image {
    width: 20px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    background-color: transparent; /* Set transparent background */
    margin-right: 5px; /* Add margin for spacing between image and text */
}

.hunter {
    width: 80px;
    /*height: 20px;*/
    border-radius: 50%;
    position: absolute;
}


